

body {
    padding-top:60px;
    margin: auto;
}


/* choose a light or dark theme to add to the body tag. */
.dark-theme {
    background-color: #181414;
    color: #fcfbfb;   
}
.light-theme {
    background-color: #F5F5F5;
    color: black;    
}

.container {
        max-width: 975px;
}

/* ******** */

.image {
    margin-bottom: 1rem;
    width: 100%;
}




/*
super-font
.headline
.kicker
.subhead
.label
.label-text
.credit

sub-font
.date
.body-text
.note
*/



.super-font {
    font-family: 'Roboto Condensed', sans-serif;
}
.sub-font {
    font-family: 'Lora', serif;
}



.headline {
    font-size: 3.5rem;
    line-height: 0.9;
    margin-bottom: 0.25rem;
    margin-top: 1rem;
    font-weight: 700;
}

.body-text {
    font-size: 1.25rem;
    line-height: 1.6;
    margin-top: 0.5rem;
    margin-bottom: 3.75rem;

}

.kicker {
    font-size: 1.5rem;
    line-height: 1;
    margin-bottom: 0.5rem;
    margin-top: 1rem;
    font-weight: 300;
    text-transform: uppercase;
}

.credit  {
    font-size: 1.2rem;
    line-height: 0.75;
    margin-top: 2rem;
    font-weight: 400;
    text-transform: uppercase;
}

.date {
    font-size: 1rem;
    line-height: 1;
    margin-top: 0.25;
    font-weight: 400;
    font-style: italic;
}

.subhead {
    font-size: 1.75rem;
    line-height: 0.9;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
    font-weight: 700;
}

.label {
    font-size: 1.25rem;
    line-height: 1.25;
    margin-top: 2rem;
    margin-bottom: 0.5rem;
    font-weight: 700;
}

.label-text {
    font-size: 1.25rem;
    line-height: 1.25;
    margin-bottom: 0.5rem;
    font-weight: 400;
}

.note {
    font-size: 0.85rem;
    line-height: 1.5;
    margin-top: 0.5rem;
    margin-bottom: 1.25rem;
    font-weight: 400;
}
.caption  {
    font-size: 1rem;
    line-height: 1.2;
    margin-top: 0.5rem;
    margin-bottom: 2rem;
    font-weight: 400;
}

.handle  {
    font-size: 1.25rem;
    line-height: 0.75;
    margin-top: 1.75rem;
    font-weight: 400;
    color: black !important;
}

.rule {
    border-style: solid;
    border-top: 1px;
    margin-bottom: 1rem;
    margin-top: 1rem;
    border-color: darkgrey;
}

.section {
    font-size: 1.25rem;
    line-height: 0.9;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;

}

.link {
    color: black !important;
}

.footer  {
    font-size: 1rem;
    line-height: 0.75;
    margin-top: 5rem;
    margin-bottom: 5rem;
    font-weight: 400;
}











